{% extends "base.html" %}

{% block title %} {{ block.super }} | Perfil{% endblock title %}

{% block body %}
    {% include "navbar.html" %}
    <div class="container">

        <div class="page-header">
            <h4>
                <a href="{% url 'users_app:perfil' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </h4>
        </div>

        <div class="row">
            <div class="col-md-12 well">
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <strong>
                        <p class="text-center lead">
                        <span class="glyphicon glyphicon-info-sign"></span> Datos a Modificar
                        </p>
                    </strong>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                
                    <div class="col-md-6 form-group">
                        <label class="label-control">{{ form.username.label_tag }}</label>
                        {{ form.username }}
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-7 form-group">
                            <label class="label-control">{{ form.avatar.label_tag }}</label>
                            {{ form.avatar }}
                        </div>
                    <div class="col-md-5" style="margin-top:-4em;">
                        {% if user.avatar %}
                        <img src="{{user.avatar.url}}" alt="{{user.username}}" class="img-thumbnail" width="200" style="height:120px !important;">
                        {% else %}
                        <img src="/media/default.png" alt="{{user.username}}" class="img-thumbnail" width="200" style="height:120px !important;">
                        {% endif %}
                    </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="label-control">{{ form.email.label_tag }}</label>
                        {{ form.email }}
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="label-control">{{ form.nombre.label_tag }}</label>
                        {{ form.nombre }}
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="label-control">{{ form.apellido.label_tag }}</label>
                        {{ form.apellido }}
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="label-control">{{ form.password.label_tag }}</label>
                        {{ form.password }}
                    </div>
                    <div class="col-md-12 col-md-offset-5 form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Editar</button>
                    </div>
                </form>
                </div><!-- col-md-12 -->
        </div>

    </div>
{% endblock %}