{% extends "base.html" %}

{% block title %} {{ block.super }} | Perfil{% endblock title %}

{% block body %}
    {% include "navbar.html" %}
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
        <div class="panel panel-perfil">
          <div class="panel-heading">
            <h3 class="panel-title">{{user.nombre}} {{user.apellido}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              {% if user.avatar %}
                  <img src="{{MEDIA_URL}}{{user.avatar}}" class="img-thumbnail img-responsive" alt="avatar" width="300">
                  <h6>Sube una foto diferente...</h6>
                  <a href="{% url 'users_app:perfileditar' %}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
              {% else %}
                  <img src="{{MEDIA_URL}}default.png" class="img-thumbnail img-responsive" alt="avatar" width="300">
                  <h6>Sube una foto diferente...</h6>
                  <a href="{% url 'users_app:perfileditar' %}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
              {% endif %}
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <th>Usuario</th>
                    <td>{{user.username}}</td>
                  </tr>
                  <tr>
                    <th>Nombre</th>
                    <td>{{user.nombre}}</td>
                  </tr>
                  <tr>
                    <th>Apellido</th>
                    <td>{{user.apellido}}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <th>Estado</th>
                    <td>
                      {%if user.is_active %}
                        <span class="label label-success">ACTIVO</span>
                      {% else %}
                        <span class="label label-danger">INACTIVO</span>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th>Permiso</th>
                      <td>
                        {%if user.is_staff %}
                          <span class="label label-success">ADMINISTRADOR</span>
                        {% else %}
                          <span class="label label-danger">USUARIO</span>
                        {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a href="/" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Regresar
          </a>
          <span class="pull-right">
            <a href="{% url 'users_app:perfileditar' %}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar Perfil</a>
          </span>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
