{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">My Control</h1>
            <p>&nbsp;</p>
        </div><!-- col-md-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class=" col-md-12 text-center">
            <div class="col-md-push-4 col-md-4 text-left">
                <form role="form" method="POST">{% csrf_token %}
                    <h4 class="text-center">Ingresa tus Datos:</h4>
                    <div class="form-group">
                      <!--<input type="text" class="form-control" name="name" value="" placeholder="Usuario">-->
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                      <!--<input type="password" class="form-control" name="name" value="" placeholder="Contraseña">-->
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <p>
                      <a href="#">¿Olvidaste tu contraseña?</a>
                    </p>
                    <button type="submit" name="login_form" class="btn btn-success btn-lg btn-block">Log in</button>
                </form>
            </div><!-- col-md-6 -->

        </div><!-- col-md-12 -->

    </div><!-- /row -->

</div>


{% endblock %}
