<div class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        	<a href="/" class="navbar-brand">My Control</a>
        	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        		<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>
        </div>
	    <div class="navbar-collapse collapse" id="navbar-main">
	        <ul class="nav navbar-nav">
	            <!--<li>
	              	<a href="#" class="active">
	              		<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
	              		Dashboard
	              	</a>
	            </li>-->
	            <li>
	            	<a href="" >
	              		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
	              		Registros
	              	</a>
	            </li>
	            <li>
	            	<a href="#">
	            		<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	            		Ventas
	            	</a>
	            </li>
	            <li class="dropdown">
	            	<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Simplex <span class="caret"></span></a>
		            <ul class="dropdown-menu" aria-labelledby="download">
		                <li><a href="http://jsfiddle.net/bootswatch/3he50zsf/">Open Sandbox</a></li>
		                <li class="divider"></li>
		                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
		                <li><a href="./bootstrap.css">bootstrap.css</a></li>
		                <li class="divider"></li>
		                <li><a href="./variables.less">variables.less</a></li>
		                <li><a href="./bootswatch.less">bootswatch.less</a></li>
		                <li class="divider"></li>
		                <li><a href="./_variables.scss">_variables.scss</a></li>
		                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
		            </ul>
	            </li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right">
	        	{% if user.is_authenticated %}
		        	<li class="dropdown">
		            	<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">
                    <span style="padding-right:0.5em;">
                      {% if user.avatar %}
                        <img src="" alt="" width="60" height="50" style="margin-left:-1em;margin-top: -1.9em;margin-bottom: -1.8em;">
                      {% else %}
                        <img src="/media/default.png" alt="" width="60" height="50" style="margin-left:-1em;margin-top: -1.9em;margin-bottom: -1.8em;">
                      {% endif %}
                    </span>
		            		{# <span class="pull-left glyphicon glyphicon-user" aria-hidden="true" style="font-size:18px;padding-right:0.5em;"></span>#}
		            		{{ user.username|upper}}
		            		<span class="caret"></span>
		            	</a>

			            <ul class="dropdown-menu" aria-labelledby="download">
			                <li>
			                	<a href="#">
			                		Dashboard
			                		<span class="pull-right glyphicon glyphicon-th-large" aria-hidden="true"></span>
			                	</a>
			                </li>
			                <li>
			                	<a href="">
			                		Registros
			                		<span class="pull-right glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			                	</a>
			                </li>
			                <li>
			                	<a href="#">
			                		Ventas
			                		<span class="pull-right glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
			                	</a>
			                </li>
			                <li class="divider"></li>
			                <li>
			                	<a href="#">
			                		Usuarios
			                		<span class="pull-right glyphicon glyphicon-user" aria-hidden="true"></span>
			                	</a>
			                </li>
			                <li>
			                	<a href="{% url 'users_app:perfil' %}">
			                		Perfil
			                		<span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span>
			                	</a>
			                </li>
			                <li class="divider"></li>
			                <li>
			                	<a href="{% url 'users_app:logout' %}">
			                		Salir
			                		<span class="pull-right glyphicon glyphicon-log-out" aria-hidden="true"></span>
			                	</a>
			                </li>
			            </ul>
		            </li>
                {% else %}
                    <li><a href="">Registrarse / Login</a></li>
                {% endif %}
	        </ul>
	    </div>
    </div>
</div>
